<h2>Confirm Order</h2>
<p>
  <Strong>Shipping Name:</strong>
  <%= h @order.shipping_name %>
</p>
<p>
  <Strong>Shipping Address:</strong>
  <%= h @order.shipping_address %>
</p>
<p>
  <Strong>Billing Name:</strong>
  <%= h @order.billing_name %>
</p>