<fieldset><legend>Editing item</legend>

<%= render 'form' %>

<legend class="link-to-other"><div><%= link_to 'Show', @item %></div> </legend>
<legend class="link-to-other"><div><%= link_to 'Back', items_path %></div></legend>
</fieldset>