<div class="breadcrumbs"><%= link_to_unless_current "Home",  :controller => "items",:action => "index" %> / <%= link_to_unless_current "About Us",:controller => "site",:action => "about" %></div>
<h1>Company Information</h1>
<p>Royalwatches.pk ( formarly royal-watches.com ) is the leading online shop of Luxury watches in Pakistan since last 4 years, we have satisfied thousands of people with our luxury Replica Watches. Made of swiss quality stainless steel and programmed to function smoothly, they outlast all but the originals.</p>
<br />
<p>
RoyalWatches offers unique quality, the assurance of trust and a excellence service that distinguishes us above the rest. We offer competitive pricing but we also knew low prices alone could not make our business superior . We are determined to combine honest dealings with outstanding service before during and after the sale, if you have any queries please do not hesitate to email us on info@royal-watches.com our customer support team will be more than happy to serve you.</p>

<iframe width="400" height="300" src="http://www.youtube-nocookie.com/embed/IPduSrc701k?rel=0" frameborder="0" allowfullscreen=""></iframe>
