<div class="breadcrumbs"><%= link_to_unless_current "Home",  :controller => "items",:action => "index" %> / <%= link_to_unless_current "Terms & Conditions",:controller => "site",:action => "condition" %></div>

<div class="page-title">
<h1>Terms &amp; Conditions</h1>
<strong>Limitation and Release of Liability:</strong>
<p>Whilst every effort has been made to ensure that the information supplied on this site is accurate, it is subject to change from time to time.Royal-watches.com reserves the right to change the information without any notice.</p>
<p>In the event of mistakes made by suppliers or website administrators while updating the product details such as product photographs, product specifications, package contents, price, etc.Royal-watches.com reserves the right to change the incorrect information without any notice. Royal-watches.com will not accept any liability for any loss or damage, which may be incurred by any person acting in reliance upon the incorrect information.</p>
<strong>Orders :</strong>
<p>All orders placed through this web site are subject to confirmation and acceptance by Royal-watches.com</p>
<p>Within one working day of order placement, our sales personnel will contact you, either by phone or email to confirm the availability of the goods, delivery date, etc. Only after receiving the phone call or email confirmation by our sales personnel will your order is considered confirmed and effective.</p>
<strong>Delivery:</strong>
<p>Royal-watches.com or its agent will deliver the goods you order to the address you specify in your order, subject to their availability.</p>
<strong>Color Difference:</strong>
<p>Colors appear on screen should be slightly differ from original.</p>
</div>
