<div class="breadcrumbs"><%= link_to_unless_current "Home",  :controller => "items",:action => "index" %> / <%= link_to_unless_current "Contact Us",:controller => "site",:action => "contact" %></div>

<p>Find me in app/views/site/contact.html.erb</p>