<div class="breadcrumbs"><%= link_to_unless_current "Home",  :controller => "items",:action => "index" %> / <%= link_to_unless_current "Faq's",:controller => "site",:action => "faq" %></div>
<p>Find me in app/views/site/faq.html.erb</p>
