<div class="breadcrumbs"><%= link_to_unless_current "Home",  :controller => "items",:action => "index" %> / <%= link_to_unless_current "Testimonials",:controller => "site",:action => "testimonial" %></div>
<p>Find me in app/views/site/testimonial.html.erb</p>
