// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
	color: #0A263C;
	font-size: 1em;
	font-weight: normal;
	line-height: 1.15;
}

p{
	font: 13px 'LatoRegular',Arial,Helvetica,sans-serif!important;
}

